@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: poppins, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #eeeeee;
    color: #fff;
}

/*---------- inicio header ----------*/
 
.logo-inicio {
    text-decoration: none;
    width: 150px;
    text-align: center;
}

.logo-inicio img {
    width: 100%;
}


header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
}


.navegation {
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;    
    flex-direction: row;
    gap: 30px;
    padding: 0;
}

.navegation a {
    position: relative;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.navegation a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navegation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.serchbar {
    padding-bottom: 0;
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.serchbar input {
    width: 100%;
    border: #242424 solid 4px;
    background-color: #242424;
    padding: 5px 25px 5px 25px;
    border-radius: 50px;
    color: #fff;
}


.serchbar input::placeholder {
    color: #fff;
    font-weight: 300;
}

/*---------- fin header ----------*/

/*---------- inicio main ----------*/

.main{
    margin: 0px 23%;
    padding: auto;
}


h1{
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0;
}

.encabezado{
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 100px;
}


.encabezado-destacado {
    text-align: start;
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 20px;
}

.destacado {
    margin-top: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    background-color: #121212;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 20px;
}

.grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.267);
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.grid-item p{
    margin: 0;
    padding: 0;
    height: 130px;
    font-weight: 300;
    text-wrap: balance; 
}

.hidden {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  margin: 0; /* evita que quede espacio extra */
  padding: 0; /* opcional, por si tenés padding en items */
  transition: max-height 0.6s ease, opacity 0.6s ease;
}

.show {
  max-height: 1000px; /* suficiente para mostrar el contenido */
  opacity: 1;
  transition: max-height 0.6s ease, opacity 0.6s ease;
}


.btn-ver-mas {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 18px;
    background-color: #242424;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.3s;
    border: none;
    cursor: pointer;
}

.btn-ver-mas:hover {
    background-color: #444;
}

.ver-mas {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.ver-mas a {
    padding: 10px 30px;
    background-color: #242424;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.3s;
    border: none;
    cursor: pointer;
}

.ver-mas a:hover {
    background-color: #444;
}

/*---------- fin main ----------*/

/*---------- inicio footer ----------*/
.footer {
    background-color: #121212;
    padding: 20px 0;
    text-align: center;
    font-size: 0.9em;
    color: #ffffff;
    margin-top: 50px;
}

.footer p {
    margin: 0 30%;
}
.footer a {
    color: #fff;
    text-decoration: none;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-section.contact {
    margin-top: 10px;
}

.social-media a {
    margin: 0 10px;
    display: inline-block;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    filter: invert(1);
    transition: filter 0.3s;
}

/*---------- fin footer ----------*/
